<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future dajaxice_templatetags %}
{% load static from staticfiles %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% block meta_title %}{% endblock %}</title>
<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
{% block extra_uncompressed_css %}{% endblock %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
<link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}font/font-awesome.less" charset="utf-8">
<link rel="stylesheet" href="{{ STATIC_URL }}css/mezzanine.css">
<link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/base.less" charset="utf-8">

{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/rtl.css">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/cartridge.css">
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}body{% endblock %}" data-spy="scroll" data-target="#subnav">
  <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
  <![endif]-->
  <div id="holder">
    <div id="header">
      <div id="mainnav" class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              {% if settings.SITE_TITLE %}<a class="brand {% if page.title = 'Home' %}active{% endif %}" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
              <div class="nav-collapse">
                {% if user.is_authenticated %}
                    <div class="user dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{ user.username }}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li>
                                <a href={% url "logout" %}> Logout</a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <div class="user dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Login<b class="caret"></b></a>
                    <ul class="login-form dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>
                            {% include "includes/login_form.html" %}
                        </li>
                    </ul>
                    </div>
                {% endif %}
                  {% search_form "all" %}
                {% page_menu "pages/menus/dropdown.html" %}
              </div>
          </div>
        </div>
      </div>
      <div class="container messages">
        {% nevercache %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" data-alert="alert">
              <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
            </div>
          {% endfor %}
        {% endnevercache %}
      </div>
      {% block extra_header %}{% endblock %}
    </div>
    {% block main_wrapper %}
      <div id="main_content" class="container">
          {% block main %}{% endblock %}
      </div>
    {%endblock %}
    <div id="push"></div>
  </div>

  <div id="footer">
    <div class="container">
      <div class="footer-row">
          {% page_menu "pages/menus/footer.html" %}
      </div>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  {% block extra_uncompressed_js %}{% endblock %}
  {% compress js %}
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% dajaxice_js_import %}
    <script src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>
    <script>
    $(function() {
        $('.middleinput:text, textarea').addClass('xlarge');
        $('.control-group label').addClass('control-label');
    });
    </script>
    {% if settings.ANALYTICS_ENABLED %}
      <!-- Piwik -->
      <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["trackPageView"]);
        _paq.push(["enableLinkTracking"]);

        (function() {
          var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{ settings.ANALYTICS_PIWIK_URL }}/";
          _paq.push(["setTrackerUrl", u+"piwik.php"]);
          _paq.push(["setSiteId", "1"]);
          var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
          g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
        })();
      </script>
      <!-- End Piwik Code -->
    {% endif %}
    {% block extra_js %}{% endblock %}
    
  {% endcompress %}
  {% include "includes/footer_scripts.html" %}
</body>
</html>