{% load cms_tags sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
  <head>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       <meta name="description" content="P.Sainath's People's Archive Of Rural India">
       <meta name="author" content="P.Sainath">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       {% addtoblock "css" %}
            <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
            <link href="{{ STATIC_URL }}css/pari.css" rel="stylesheet" media="screen">
            <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
       {% endaddtoblock %}
       {% addtoblock "css" %}
            <script src="http://code.jquery.com/jquery.js"></script>
            <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
       {% endaddtoblock %}
       <title>PARI</title>
       {% render_block "css" %}
  </head>
  <body>
    <div id="holder" class="container-fluid">
  	  <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="brand" href="#">Pari</a>
            <ul class="nav">
              {% show_menu %}
            </ul>
            <form class="navbar-search pull-right">
                <input type="text" class="search-query" placeholder="Search">
            </form>
          </div>
        </div>
      </div>
      
      <div id='main_content' class="container-fluid">
          {% placeholder base_content %}
          {% block base_content%}{% endblock %}
      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
        <div class="container-fluid">
          <ul class="footer-links">
            <li><a href="#">About</a></li>
            <li class="muted">·</li>
            <li><a href="#">Code</a></li>
            <li class="muted">·</li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
    </div>
    {% render_block "js" %}
  </body>
</html>