{% extends "base.html" %}
{% load i18n album_filters article_tags article_filters %}

{% block meta_title %}{% trans "Contributions" %}{% endblock %}
{% block title %}{% trans "Contributions" %}{% endblock %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/contribution_list.less" charset="utf-8">
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Albums" %}</li>
{% endblock %}

{% block main %}
<div class="list">
    {% for contribution in contributions %}
        <div class="row">
            <div class="image span2"><img src="{{ MEDIA_URL }}{% thumbnail contribution.image 100 100 %}" alt=""/></div>
            <div class="title span2">{{ contribution.title }}</div>
            <div class="description span8">{{ contribution.description }}</div>
        </div>
    {% endfor %}
</div>
{% endblock %}
