{% extends "base.html" %}
{% load i18n album_filters mezzanine_tags article_tags article_filters %}

{% block meta_title %}{% trans "Contributions" %}{% endblock %}
{% block title %}{% trans "Contributions" %}{% endblock %}

{% block extra_js %}
    <script type='text/javascript' src="{{ STATIC_URL }}contribution/js/contactus.js"></script>
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/contribution_list.less" charset="utf-8">
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Contributions" %}</li>
{% endblock %}

{% block main %}
    <h3>How can I contribute to the archive?</h3>
    <div class="contactform clearfix">
        {% with contact_us_page.form as page_form %}
            {{ page_form.content|richtext_filter|safe }}
        {% endwith %}
        <form action="/contact-us/" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            {% fields_for contact_us_form %}
        </form>
    </div>
    <div class="list">
        {% for contribution in contributions %}
            <div class="contribution clearfix">
                <div class="image span3"><img src="{{ MEDIA_URL }}{% thumbnail contribution.image 170 170 %}" alt=""/>
                </div>
                <div class="title span8">{{ contribution.title }}</div>
                <div class="description span8">{{ contribution.description }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
