{% load i18n verbatim_tag static mezzanine_tags article_tags article_filters keyword_tags %}
  <div id="homeCarousel" class="carousel slide carousel-thin-controls carousel-bottom-caption" data-interval="8000" data-ride="carousel">
    <div class="carousel-inner">
      {% for image in images.all %}
        <div class="{% if forloop.first %}active{% endif %} item">
          <img src="{% get_media_prefix %}{% thumbnail_no_fit image.file 1053 648%}" alt="">
            <div class="custom-carousel-caption">
              <h4>{{image.title }}</h4>
              <p>{{ image.description }}</p>
            </div>
        </div>
      {% endfor%}
    </div>
    <a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
    <ol class="carousel-indicators">
      {% for count in images.all|length|get_range %}
        <li data-target="#homeCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
      {% endfor %}
    </ol>
  </div>
