{% load  article_tags article_filters mezzanine_tags keyword_tags %}

<div id="articles" class="heading row">
    {% if title %}
        <h3 class="span10">Articles for "{{ title }}"</h3>
    {% endif %}
    <div class="span4">
        <ul class="type-filters">
            {% for type in types %}
                <li class="type-filter{% if type.title == filter %} active{% endif %}" data-filter="{{ type.title }}" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ type.title }}"><i class="{{ type.icon_class }}"></i></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="articles">
    {% for result in articles %}
    <div class="article ">
        <i class="icon-{{ result|get_type }} article-type"></i>
    <div class="article-image">
        {% list_media_for result 278 225 %}
    </div>
        {% display_result %}
    </div>
    {%empty %}
        No articles to display. Try clearing filter.
    {% endfor %}
    {% paginate_list articles %}
</div>