{% load static mezzanine_tags article_tags %}

<div class="featured-content">
    {% if article.is_video_article %}
    <div class="video-container">
      {{ article.oembed_data.html|safe }}
    </div>
    {% elif article.featured_audio %}
      {{ article.oembed_data.html|safe }}
    {% elif article.featured_image and article.allow_featured_image %}
        <table>
            <tr><td><img class="img-responsive" src="{% get_media_prefix %}{% thumbnail_no_fit article.featured_image 1170 720 %}"></td></tr>
            <caption align="bottom" class="featured-image-caption">
                 {% if article.featured_image_caption %}
                    {{ article.featured_image_caption }}
                {% endif %}
            </caption>
        </table>
    {% elif article.carousel_images.all %}
        {% article_carousel article.carousel_images %}
    {% endif %}
</div>
