{% load static mezzanine_tags article_tags article_filters %}

{% if article.featured_video or article.featured_audio %}
<div class="media-thumbnail">
    <img src="{% get_media_prefix %}{% thumbnail article.featured_image width height %}" alt="">
    <a href="#media_popup_{{ article.slug }}" role="button" data-toggle="modal">
        {% if article.featured_video %} 
          <i class="fa fa-play-circle"></i>
        {% else %}
          <i class="fa fa-microphone"></i>
        {% endif %}
    </a>
</div>
<div id="media_popup_{{ article.slug }}" class="modal hide fade media-popup" data-video="{{ article.capsule_video|default:article.featured_video }}" data-audio="{{ article.featured_audio }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
  </div>
  <div class="modal-body">
    {% if article.featured_video %}
      <div class="video-container">
      </div>
    {% else %}
      <div class="audio-container">
      </div>
    {% endif %}
  </div>
  <div class="modal-footer">
    <a href="{{ article.get_absolute_url }}">View full article content</a>
  </div>
</div>
{% else %}
<div class="image-thumbnail">
    <img src="{% get_media_prefix %}{% thumbnail article.get_thumbnail width height %}" alt="">
</div>
{% endif %}
