{% load i18n future pages_tags %}

{% spaceless %}
{% if page_branch_in_menu %}

{% for page in page_branch %}
    {% if forloop.first %}
        <ul class="footer-nav clearfix">
    {% endif %}

    {% if page.in_menu %}
        <li id="footer-menu-{{ page.html_id }}">
            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
            
        </li>
    {% endif %}

    {% if not forloop.last %}<li>|</li>{% endif %}

    {% if forloop.last %}
        </ul>
    {% endif %}

{% endfor %}

{% endif %}
{% endspaceless %}