{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags i18n future disqus_tags article_filters article_tags %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ blog_post.title }}</li>
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/article.less" charset="utf-8">
{% endblock %}

{% block extra_js %}
    <script type='text/javascript' src="{{ STATIC_URL }}article/js/social.js"></script>
{% endblock %}

{% block maincontent %}

{% block title %}
    {% editable blog_post.title %}<h2>{{ blog_post.title }}</h2>{% endeditable %}
    <p>
        {% for location in blog_post|get_locations %}
            <a href="{{ location.get_absolute_url }}">{{ location.title }}</a>  
        {% endfor %} | by 
        {% with blog_post.user as author %}
            <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
        {% endwith %}
    </p>
    {% with request.build_absolute_uri as url and blog_post.title as title %}
        <div class="social" data-url="{{ url }}">
            <a target="_blank" href="http://facebook.com/sharer.php?u={{ url }}&amp;t={{ title|urlencode }}"><div class="badge facebook"><i class="icon-facebook-sign"></i><span class="count"></span></div></a>

            <a target="_blank" href="http://twitter.com/home?status={{ title }}+{{ url }}"><div class="badge twitter"><i class="icon-twitter-sign"></i><span class="count"></span></div></a>
            
            <a target="_blank" href="https://plus.google.com/share?url={{ url }}"><div class="badge google-plus"><i class="icon-google-plus-sign"></i></div></a>

            {% if blog_post.allow_comments and settings.COMMENTS_DISQUS_SHORTNAME %}
                <div class="badge comments">
                    <i class="icon-comments-alt comments-icon"></i>
                    <a href="{{ url }}#disqus_thread" data-disqus-identifier="{% disqus_id_for blog_post %}" class="count"></a>
                </div>
            {% endif %}
        </div>
    {% endwith %}
{% endblock %}


{% block blog_post_detail_commentlink %}

{% endblock %}

{% featured_content_for blog_post %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %} 
{% endif %}

{% block blog_post_detail_content %}
{% editable blog_post.content %}
{{ blog_post.content|richtext_filter|safe }}
{% endeditable %}
{% endblock %}

{% endblock %}

{% block maincontent_2 %}
    {% block blog_post_detail_comments %}
    {% if blog_post.allow_comments %}{% comments_for blog_post %}{% endif %}
    {% endblock %}
{% endblock %}

{% block sidebar %}
    <div class="keywords">
        {% keywords_for blog_post as keywords %}
        {% if keywords %}
            <h3><i class="icon-tags"></i>  Keywords</h3>
            <div class="full-horizontal-line"></div>

            {% for keyword in keywords %}
                <div class="tag">
                    <a href="{% url "keyword-detail" keyword.slug %}">{{ keyword }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="related-articles well">
        <h3><i class="icon-exchange"></i>  Related Articles</h3>
        {% for article in related_articles %}
            <div class="article">
                <a href="{{ article|get_absolute_url }}">
                    <div class="article-image">
                        <img src="{{ MEDIA_URL }}{% thumbnail article.featured_image 100 78 %}" alt="">
                    </div>
                    <div class="caption">
                        <h4>{{ article.title|truncatechars:45 }}</h4>
                        <p>{{ article|get_location_titles }}</p>
                        <p>by {{ article.user.username }}</p>
                    </div>
                </a>
            </div>
            {% if not forloop.last %}
                <div class="horizontal-line"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
