{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags i18n future disqus_tags article_filters %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ blog_post.title }}</li>
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/article.less" charset="utf-8">
{% endblock %}

{% block maincontent %}

{% block title %}
{% editable blog_post.title %}<h3>{{ blog_post.title }}</h3>{% endeditable %}
<p>{{ blog_post.location.title }} | by  
    {% with blog_post.user as author %}
    <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
    {% endwith %}
</p>
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-517435ad3d40b5da"></script>
{% endblock %}


{% block blog_post_detail_commentlink %}
<p>
    {% if blog_post.allow_comments %}
        {% if settings.COMMENTS_DISQUS_SHORTNAME %}
            (<a href="{{ blog_post.get_absolute_url }}#disqus_thread"
                data-disqus-identifier="{% disqus_id_for blog_post %}">{% spaceless %}
                {% trans "Comments" %}
            {% endspaceless %}</a>)
        {% else %}(<a href="#comments">{% spaceless %}
            {% blocktrans count blog_post.comments_count as comments_count %}1 comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
            {% endspaceless %}</a>)
        {% endif %}
    {% endif %}
</p>
{% endblock %}

{% block blog_post_detail_featured_image %}
{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
<p><img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 600 0 %}"></p>
{% endif %}
{% endblock %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}

{% block blog_post_detail_content %}
{% editable blog_post.content %}
{{ blog_post.content|richtext_filter|safe }}
{% endeditable %}
{% endblock %}

{% endblock %}

{% block maincontent_2 %}
    {% block blog_post_detail_comments %}
    {% if blog_post.allow_comments %}{% comments_for blog_post %}{% endif %}
    {% endblock %}
{% endblock %}

{% block sidebar %}
    <div class="keywords">
        {% keywords_for blog_post as keywords %}
        {% if keywords %}
            <h3><i class="icon-tags"></i>  Keywords</h3>
            <div class="full-horizontal-line"></div>

            {% for keyword in keywords %}
                <div class="tag">
                    <a href="{% url "blog_post_list_tag" keyword.slug %}">{{ keyword }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="related-articles well">
        <h3><i class="icon-exchange"></i>  Related Articles</h3>
        {% for article in related_articles %}
            <div class="article">
                <a href="{{ article|get_absolute_url }}">
                    <div class="article-image">
                        <img src="{{ MEDIA_URL }}{% thumbnail article.featured_image 100 78 %}" alt="">
                    </div>
                    <div class="caption">
                        <h4>{{ article.title|truncatechars:45 }}</h4>
                        <p>{{ article.location.title }}</p>
                        <p>by {{ article.user.username }}</p>
                    </div>
                </a>
            </div>
            {% if not forloop.last %}
                <div class="horizontal-line"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
