{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags i18n future disqus_tags article_filters article_tags %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block opengraph_block %}
<meta property="og:title" content="{{ blog_post.title }}">
<meta property="og:url" content="http{% if request.is_secure %}s{% endif %}://{{ site.domain }}{{ blog_post.get_absolute_url }}">
<meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.domain }}{{ MEDIA_URL }}{{ blog_post.featured_image|urlencode }}">
<meta property="og:type" content="article">
<meta property="og:published_time" content="{{ blog_post.publish_date|date:"c" }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ "SOCIAL_TWITTER"|get_setting }}">
<meta name="twitter:title" content="{{ blog_post.title }}" >
<meta name="twitter:description" content="Read the article on People's archive of Rural India" >
<meta name="twitter:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.domain }}{{ MEDIA_URL }}{{ blog_post.featured_image|urlencode }}" >
<meta name="twitter:url" content="http{% if request.is_secure %}s{% endif %}://{{ site.domain }}{{ blog_post.get_absolute_url }}" >
{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ blog_post.title }}</li>
{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/tinymce.css" charset="utf-8">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/article.less" charset="utf-8">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/carousel.less" charset="utf-8">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/location.less" charset="utf-8">
{% endblock %}

{% block extra_js %}
    <script type='text/javascript' src="{{ STATIC_URL }}article/js/social.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}article/js/map.js"></script>
{% endblock %}

{% block extra_uncompressed_js %}
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
{% endblock %}

{% block extra_uncompressed_css %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
{% endblock %}

{% block featured_content %}
<div class="article-head">
    {% block title %}
        <div class="page-header">
            {% editable blog_post.title %}<h1 class="article-title">{{ blog_post.title }}</h1>{% endeditable %}
            {% editable blog_post.strap %}
                <div class="article-strap">{% if blog_post.strap %} {{ blog_post.strap }} {% endif %}</div>
            {% endeditable %}
        </div>
        <div class="article-meta">
          {% if translations %}
	  <span class="dropdown translations">
	    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	      View article in
	      <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	      <li role="presentation"><a role="menuitem" tabindex="-1" href="?hl=en">English</a></li>
	      {% for lang in translations %}
	      <li role="presentation"><a role="menuitem" tabindex="{{ forloop.counter0 }}" href="?hl={{ lang.0 }}">{{ lang.1 }}</a></li>
	      {% endfor %}
	    </ul>
	  </span>
	  {% endif %}
	  | <a href="{{ blog_post.publish_date|archive_url }}"><i class="fa fa-calendar"></i> {{ blog_post.publish_date|date }}</a>
	  {% with blog_post.author as author %}
          | <a href="{% url "author-detail" author.slug %}"><i class="fa fa-user"></i>  {{author.title}}</a>
	  <div>
	  <a href="https://twitter.com/@{{ "SOCIAL_TWITTER"|get_setting }}" class="twitter-follow-button" data-show-count="false">Follow {{ author.twitter_username }}</a>
	  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	  {% include "article/includes/author_social.html" with author=author %}
          {% endwith %}
	  </div>
        </div>
        {% include "article/includes/social.html" with item=blog_post %}
    {% endblock %}

    {% featured_content_for blog_post %}
</div>

{% endblock %}

{% block maincontent %}


{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %} 
{% endif %}

{% block blog_post_detail_content %}
{% editable blog_post.content %}
<div class="article-content">
{{ blog_post.content|richtext_filters|safe }}
</div>
{% endeditable %}
{% endblock %}

{% endblock %}

{% block maincontent_2 %}
    {% block blog_post_detail_comments %}
    {% if blog_post.allow_comments %}{% comments_for blog_post %}{% endif %}
    {% endblock %}
{% endblock %}

{% block sidebar %}
  {% if  blog_post.get_location_titles %}
    <div class="well"> 
        <h4><i class="fa fa-road"></i> Locations </h4>
        <p>{{ blog_post.get_location_titles }}</p>
        <div id="map" class="map-view" data-lat="{{ blog_post|get_latitudes }}" data-long="{{ blog_post|get_longitudes }}"></div>
    </div>
  {%endif%}
   <div class="keywords">
        {% keywords_for blog_post as keywords %}
        {% if keywords %}
            <h3><i class="fa fa-tags"></i>  Keywords</h3>
            <div class="full-horizontal-line"></div>

            {% for keyword in keywords %}
                <div class="tag">
                    <a href="{% url "keyword-detail" keyword.slug %}">{{ keyword }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% for article in related_articles %}
        {% if forloop.first %}
            <div class="related-articles well">
                <h3><i class="fa fa-exchange"></i>  Related Articles</h3>
        {% endif %}
        <div class="article">
            <a href="{{ article|get_absolute_url }}">
                <div class="article-image">
                    <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail article.featured_image 100 78 %}" alt="">
                </div>
                <div class="caption">
                    <h4> {{ article.title|truncatechars:70 }} </h4>
                     <p>Location:{{ article.get_location_titles | truncatechars:20 }}</p>
                     <p>Author:  {{ article.author.title }}</p>
                </div>
            </a>
        </div>
        {% if not forloop.last %}
            <div class="horizontal-line"></div>
        {% endif %}
        {% if forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
