{% extends "base.html" %}
{% load i18n verbatim_tag article_filters article_tags %}

{% block meta_title %}{% trans "Categories" %}{% endblock %}
{% block title %}{% trans "Categories" %}{% endblock %}

{% block extra_js %}

{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/categories.less" charset="utf-8">
{% endblock %}


{% block breadcrumb_menu %}
    <li class="active">{% trans "Categories" %}</li>
{% endblock %}

{% block main %}
    {% for category_group in categories|group_by:3 %}
    <div class="row">
        <div class="categories row">
            {% for category in category_group %}
                <a href="{{ category|get_absolute_url}}">
                <div class="col-lg-4">
                    <div class="grid-column">
                        <img src="{{ MEDIA_URL }}{% thumbnail category.image 370 300 %}" width="370" height="300" alt="">
                        <div class="caption">
                            <h4>{{ category.title }}</h4>
                            <p class="description">{{ category.description }}</p>
                        </div>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>
     </div>
    {% endfor %}
{% endblock %}