{% extends "base.html" %}
{% load i18n verbatim_tag article_filters mezzanine_tags article_tags keyword_tags %}

{% block meta_title %}{{ category.title }}{% if filter%} - {{ filter }}{% endif %}{% endblock %}
{% block title %}{{ category.title }}{% endblock %}

{% block extra_js %}
    <script type='text/javascript' src="{{ STATIC_URL }}js/magnific-popup.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/jquery.history.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}article/js/list_filter.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}article/js/media_player.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}article/js/category.js"></script>
{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}album/css/../../../static/css/magnific-popup.css" charset="utf-8">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/category.less" charset="utf-8">
{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "{{ category.title }}" %}</li>
{% endblock %}

{% block main %}
    <div class="hero-unit category-header">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a class="image-popup-fit-width" href="{{ MEDIA_URL }}{{ category.image }}" title="{{ category.description }}">
                    <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail category.image 270 270 %}" width="270" height="270" alt="">
                </a>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="caption">
                    <h1>{{ category.title }}</h1>
                    <p>{{ category.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="filter-list-container" data-title="{{ category.title }}" data-filter-endpoint="category_article_filter" data-filter-required-args-category="{{ category.id }}"{% if page %} data-filter-args-page="{{ page }}"{% endif %}{% if filter %} data-filter-args-filter="{{ filter }}"{% endif %}>
        {% article_list %}
    </div>
{% endblock %}