{% extends "base.html" %}
{% load i18n verbatim_tag article_filters mezzanine_tags %}

{% block meta_title %}{{ category.title }}{% endblock %}
{% block title %}{{ category.title }}{% endblock %}

{% block extra_js %}

{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/category.less" charset="utf-8">
{% endblock %}


{% block breadcrumb_menu %}
    <li class="active">{% trans "{{ category.title }}" %}</li>
{% endblock %}

{% block main %}
    <h3>Articles for "{{ category.title }}"</h3>
    <div class="articles">
        {% for article in articles %}
            <div class="article">
                <div class="article-image">
                    <img src="{{ MEDIA_URL }}{% thumbnail article.featured_image 278 225 %}" alt="">
                </div>
                <div class="caption">
                    <h4>{{ article.title }}</h4>
                    <p>{{ article.location.title }}</p>
                    <p>by {{ article.user.username }}</p>
                    <p>{{ article.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}