{% extends "sidebar_base.html" %}
{% load i18n verbatim_tag mezzanine_tags article_tags %}

{% block meta_title %}{% trans keyword.title %}{% endblock %}
{% block title %}{% trans keyword.title %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{{ keyword.title }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
<link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/keyword_list.less" charset="utf-8">
{% endblock %}

{% block maincontent %}
<div id="article-list" data-filter-endpoint="category_article_filter" data-filter-category="{{ category.id }}">
    {% article_list articles_by_keyword keyword.title %}
</div>
{% endblock %}

{% block sidebar %}
<div class="well">
    <h4><i class="icon-edit"></i> Topics</h4>
    {% for topic in topics_by_keyword %}
    <div class="topic">
        <a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a>
    </div>
    {% endfor %}
</div>
<div class="well">
    <h4><i class="icon-tags"></i> Related Keywords</h4>
    {% for related_keyword in related_keywords %}
    <span class="tag">
        <a href="{{ related_keyword.get_absolute_url }}">{{ related_keyword.title }}</a>
    </span>
    {% endfor %}
</div>
{% endblock %}