{% extends "sidebar_base.html" %}
{% load i18n verbatim_tag mezzanine_tags article_tags %}

{% block meta_title %}{% trans location.title %}{% endblock %}
{% block title %}{% trans location.title %}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {{ location.title }}
{% endmetablock %}{% endblock %}

{% block meta_description %}
    {{ location.description }}
{% endblock %}

{% block extra_uncompressed_js %}
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
{% endblock %}

{% block extra_js %}
    <script type='text/javascript' src="{{ STATIC_URL }}article/js/article_filter.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}article/js/map.js"></script>
{% endblock %}

{% block extra_uncompressed_css %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/location.less" charset="utf-8">
{% endblock %}

{% block maincontent %}
    <div id="article-list" data-filter-endpoint="location_article_filter" data-filter-args-location="{{ location.id }}">
        {% article_list articles_in_location location.title types %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="well">
        <h4><i class="icon-road"></i> {{ location.title }}</h4>
        <p>{{ location.description }}</p>
        <div id="map" class="map-view" data-lat="{{ location.location.latitude }}" data-long="{{ location.location.longitude }}"></div>
    </div>
    <div class="well" >
        <h4><i class="icon-edit"></i> Topics</h4>
        {% for topic in topics_in_location %}
            <div class="topic">
                <a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}