{% extends "sidebar_base.html" %}

{% load i18n verbatim_tag mezzanine_tags article_tags article_filters keyword_tags %}

{% block meta_title %}{% trans query %}{% endblock %}
{% block title %}{% trans query %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{{ query }}
{% endmetablock %}{% endblock %}

{% block extra_js %}
<script type='text/javascript' src="{{ STATIC_URL }}js/jquery.history.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}article/js/article_filter.js"></script>
{% endblock %}

{% block extra_css %}
<link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/search_results.less" charset="utf-8">
{% endblock %}

{% block main %}
<div class="filter-list-container" data-filter-endpoint="search_filter" data-filter-args-query="{{ query }}">
    {% render_results_for results query result_types filter%}
</div>
{% endblock %}
