{% extends "sidebar_base.html" %}
{% load mezzanine_tags keyword_tags i18n future article_filters article_tags news_tags %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}
    {% if blog_post %}
        {% metablock %}
            {% keywords_for blog_post as tags %}
            {% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
        {% endmetablock %}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ blog_post.description }}
    {% endmetablock %}
{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/tinymce.css" charset="utf-8">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/article.less" charset="utf-8">
{% endblock %}

{% block maincontent %}
    {% if blog_post %}
        <div class="article-head">
            {% block title %}
                <div class="page-header">
                    {% editable blog_post.title %}<h1 class="article-title">{{ blog_post.title }}</h1>{% endeditable %}
                </div>
                <p class="article-meta">
                    {% with blog_post.user as author %}
                        <a href="#"><i class="fa fa-user"></i>{{author.get_full_name|default:author.username}}</a>
                    {% endwith %}
                    | <a href="#"><i class="fa fa-calendar"></i> {{ blog_post.publish_date|date }}</a>
                </p>
            {% endblock %}
        </div>

        {% block blog_post_detail_content %}
            {% editable blog_post.content %}
            {{ blog_post.content|richtext_filters|safe }}
            {% endeditable %}
        {% endblock %}
    {% endif%}
{% endblock %}

{% block maincontent_2 %}
    <div class="horizontal-line"></div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sd-6">
            <div class="grid-column">
                <h4> New current articles </h4>
                {% articles_gist new_current_articles %}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sd-6">
            <div class="grid-column">
                <h4> New archive articles </h4>
                {% articles_gist new_archive_articles %}
            </div>
        </div>
    </div>
{% endblock %}