{% extends "sidebar_base.html" %}
{% load i18n verbatim_tag %}

{% block meta_title %}{% trans "Map" %}{% endblock %}
{% block title %}{% trans "Map" %}{% endblock %}

{% block extra_uncompressed_js %}
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
{% endblock %}

{% block extra_js %}
    <script type='text/javascript' src="{{ STATIC_URL }}map/js/map_mobile.js"></script>
{% endblock %}

{% block extra_uncompressed_css %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
{% endblock %}

{% block extra_css %}
<link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/map_mobile.less" charset="utf-8">
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Map" %}</li>
{% endblock %}

{% block maincontent %}
{% blocktrans %}
  <h3>Find articles near your location</h3>
  <div id="location-map">
  </div>
{% endblocktrans %}
{% endblock %}

{% block sidebar %}
  <div class="well">
  </div>
{% endblock %}