{% extends "sidebar_base.html" %}
{% load i18n verbatim_tag mezzanine_tags article_tags %}

{% block meta_title %}{% trans resource.title %}{% if filter%} - {{ filter }}{% endif %}{% endblock %}
{% block title %}{% trans resource.title %}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {{ resource.title }}
{% endmetablock %}{% endblock %}

{% block meta_description %}
    {{ resource.description }}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/resource.less" charset="utf-8">
{% endblock %}

{% block maincontent %}
    {% render_slideshare_embed resource.embed_source %}
{% endblock %}

{% block sidebar %}
    <div class="well">
        <h3 class="section-header">{{ resource.title }}</h1>
        <p>{{ resource.description }}</p>
    </div>
{% endblock %}