{% extends "base.html" %}
{% load i18n album_filters mezzanine_tags article_tags article_filters %}

{% block meta_title %}{% trans "Resources" %}{% endblock %}
{% block title %}{% trans "Resources" %}{% endblock %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/resources.less" charset="utf-8">
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Resources" %}</li>
{% endblock %}

  {% block main %}
      <div id="main_content">
        <div class="resourceheading">
            <h1>Resources</h1>
            <p>All official and independent reports on rural India</p>
        </div>
    </div>
    {% for resource_group in resources|group_by:4 %}
    <div class="row">
        <div class="resources">
            {% for resource in resource_group %}
                <a href="{{ resource|get_absolute_url}}">
                <div class="col-lg-3 col-md-3">
                    <div class="grid-column">
                        <div class="image-container">
                            <img src="{{resource.get_thumbnail}}" width="300" class="img-responsive">
                        </div>
                        <div class="caption">
                            <h4>{{ resource.title|truncatechars:50 }}</h4>
                        </div>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>
     </div>
    {% endfor %}
{% endblock %}
