{% extends "base.html" %}
{% load i18n album_filters mezzanine_tags article_tags article_filters %}

{% block meta_title %}{% trans "Resources" %}{% endblock %}
{% block title %}{% trans "Resources" %}{% endblock %}

{% block extra_js %}
    <script type='text/javascript' src="{{ STATIC_URL }}js/masonry.pkgd.min.js"></script>
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/resources.less" charset="utf-8">
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Resources" %}</li>
{% endblock %}

{% block main_wrapper %}
    <div id="main_content">
        <div id="container" class="container js-masonry" data-masonry-options='{ "itemSelector": ".item",  "columnWidth": 120, "gutter": 5, "stamp": ".stamp" }'>
        <div class="item item-hero hero-unit">
            <h1>Resources</h1>
            <p>All official and independent reports on rural India</p>
            <a href=""><i class="icon-refresh"></i> Load new content</a>
        </div>
        {% for resource in resources %}
            <div class="item item-{{ resource|get_type }} {{ "item"|get_random:2 }}" {% if resource.image %} style="background-image:url({{ MEDIA_URL}}{% thumbnail resource.image 400 400 %})"{% endif %}>
                <a href="{{ resource|get_absolute_url }}">
                    <div class="content"><p>{{ resource.title }}</p></div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
