{% extends "base.html" %}
{% load i18n album_filters mezzanine_tags article_tags article_filters %}

{% block meta_title %}{% trans "Resources" %}{% endblock %}
{% block title %}{% trans "Resources" %}{% endblock %}

{% block extra_js %}
    <script type='text/javascript' src="{{ STATIC_URL }}resources/js/resources.js"></script>
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/resources.less" charset="utf-8">
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Resources" %}</li>
{% endblock %}

{% block main_wrapper %}
    <div id="main_content">
    <div class="refresh" title="Show me a different set of Resources"><a href=""><i class="icon-refresh"></i></a></div>
        <div class="resources">
        {% for resource in resources %}
            <div class="item item-{{ resource|get_type }}">
                <a href="{{ resource|get_absolute_url }}">
                    <div class="hexagon hexagon2">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2"{% if resource.image %} style="background-image:url({{ MEDIA_URL}}{% thumbnail resource.image 400 400 %})"{% endif %}>
                                <div class="content"><p>{{ resource.title }}</p></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
