@import "grid.less";

h3 {
  .section-header;
}

.popup-gallery {
  .album-images {
    .grid-row (50px, 50px);

    .grid-column {

      .caption {
        p {
          float: left;
        }

        .audio-icon {
          i {
            float: right;
          }
        }

      }
    }
  }
}

.album-header {
    background-color: #fff;
    border: 1px solid;
    border-color: #eee;
    padding: 10px;
    h1 {
        margin-bottom: 10px;
    }
        margin-bottom: 40px;
}

.mfp-img-holder {
  position: relative;
  
  .mfp-controls {
    position: absolute;
    .box-sizing(content-box);
    background-color: rgba(255, 255, 255, 0.74902);
    bottom: 10%;
    right: 10%;
    min-width: 70px;
    max-width: 70px;
    min-height: 50px;
    max-height: 50px;
    margin: 10px;
    .border-radius (5px, 5px, 5px, 5px);
    text-align: center;

    i {
      line-height: 50px;
      font-size: 30px;
      &:hover {
        color: @headingsColor;
      }
    }
  }
}

.album-controls {
  position: absolute;
  font-size: 14px;
  margin-left: 95%;
  &:hover {
    color: @headingsColor;
  }
}
