@import "grid.less";

.popup-gallery {
    .album-images {
        .grid-row (50px, 50px);

        .grid-column {

            .caption {
                p {
                    float: left;
                }

                .audio-icon {
                    i {
                        float: right;
                    }
                }

            }
        }
    }
}

.album-header {
    background-color: #fff;
    border: 1px solid;
    border-color: #eee;
    padding: 10px;
    h1 {
        margin-bottom: 10px;
    }
    margin-bottom: 40px;
}
