@import "common.less";

.picture (@width, @height) {
    border: 6px solid #fff;
    height: @height;
    width: @width;
    .box-shadow (2px 2px 5px rgba(0,0,0,0.3));
}

.stack (@width: 300px, @height: 250px, @beforeBg: #eff4de, @afterBg: #768590 , @beforeRotation: -5deg, @afterRotation: 4deg){
    position: relative;
    margin: 24px auto;

    &, &:before, &:after {
        .picture (@width, @height);
    }

    &:before, &:after {
        content: "";
        position: absolute;
        z-index: -1;

        -webkit-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        transform-origin: bottom left;

        .transition (0.3s);
    }

    img {
        box-shadow: none;
    }

    &:before {
        top: 0px;
        left: -10px;
        .rotation (@beforeRotation);
        background: @beforeBg;
    }

    &:after {
        top: 5px; 
        left: 0px;
        .rotation (@afterRotation);
        background: @afterBg;
    }

    &:hover:before, &:hover:after {
        .rotation (0);
    }
}

.album {
    background-color: @alternateBgColor;
    .rounded (7px);
    .drop-shadow(1px, 1px, 10px, 0.3);
    padding: 10px;
    .box-sizing (border-box);
    margin-bottom: 18px;
    position: relative;
    z-index: 1;

    .stack {
        .stack ();
    }

    p {
        color: #999;
    }

    h3 {
        a {
        color: @headingsColor;
        }
    }

}