@import "common.less";

.badge-effect (@color) {
    &:hover {
        color: @color;
        background-color: #eee;
    }
}

.social {
    .badge {
        font-size: 200%;
        .transition (0.3s);
        min-width: 80px;
        max-width: 160px;

        &.facebook {
            .badge-effect (#3B5998);
        }

        &.twitter {
            .badge-effect (#3498DB);
        }

        &.google-plus {
            .badge-effect (#d34836;);
        }

        &.comments {
            .badge-effect(#3ac23a);
        }

        .count {
            margin: 0 10px;
            font-weight: normal;
        }
    }
}

.keywords {
    margin-bottom: 12px;
    h3 {
        .section-header;
        margin: 0;
    }

}

.related-articles {
    h3 {
        .section-header
    }

    .article {
        overflow: auto;
        a {
            text-decoration: none;
            color: black;

            .article-image {
                float: left;
            }

            .caption {
                margin-left: 110px;
                .box-sizing(border-box);
                top: 0;

                p {
                    margin: 0;
                }


                h4 {
                    color: @headingsColor;
                    margin-top: 0;
                }
            }
        }

    }
}