@import "common.less";

.article-head {
    margin: 0 auto;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    .page-header {
        margin: 0px;
        .article-title {
            font-size: 48px;
            line-height: 120%;
        }
        .article-strap {
            font-size: 18.18px;
            font-style: italic;
            line-height: 1.3;
        }
    }
    .article-meta {
        a {
          color: black;
          font-size: 13.65px;
        }

    }
    .featured-content {
        margin: 18px 0;
        img {
            margin: 0 auto;
        }
        .featured-image-caption{
          font-size: 18px;
          text-align: left;
          margin-bottom: 40px;
          font-style: italic;
        }
        table{
          margin:0 auto;
        }
    }
}

.badge-effect (@color) {
    &:hover {
        color: @color;
        background-color: #eee;

        a {
            color: @color;
        }
    }
}

.social {
    .badge {
        font-size: 200%;
        .transition (0.3s);
        min-width: 80px;
        max-width: 160px;
        margin: 2px;

        &.facebook {
            .badge-effect (#3B5998);
        }

        &.twitter {
            .badge-effect (#3498DB);
        }

        &.google-plus {
            .badge-effect (#d34836;);
        }

        &.comments {
            .badge-effect(#3ac23a);
        }

        .count {
            margin: 0 10px;
            font-weight: normal;
        }
    }
}

.leaflet-control-attribution {
    img {
        height: 16px;
        width: 16px;
        display: inline;
        margin: 3px;
        margin-top: -6px;
    }
}

.keywords {
    margin-bottom: 12px;
    h3 {
        .section-header;
        margin: 0;
    }

}

.related-articles {
    h3 {
        .section-header
    }

    .article {
        overflow: auto;
        a {
            text-decoration: none;
            color: black;

            .article-image {
                float: left;
                img{
                  vertical-align: inherit;
                  margin: inherit;
              }
            }

            .other-data {
                float:  left;
            }

            .caption {
                margin-left: 110px;
                .box-sizing(border-box);
                top: 0;

                p {
                    margin: 0;
                    font-size: 12px;
                    line-height: 1.5;
                }


                h4 {
                    color: @headingsColor;
                    margin-top: 0;
                    font-size: 14px;
                }
            }
        }

    }
}

.col-sm-3 {
  @media (min-width: 768px) and (max-width: 1024px) {
    width: 100%;
  }
}

.translations {
    ul.dropdown-menu {
	background-color: #fff;
	margin: 0px;
	padding: 0px;

	li {
	    a:hover {
		background-color: #ccc;
	    }
	}
    }
}
