@import "common.less";

@footerHeight: 60px;

html {
    height: 100%
}

body {
    padding-top: 0;
    height: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@media (max-width: 767px) {
    body {
        padding: 0;
    }

    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

h1, h2, h3, h4, h5 {
    line-height: 1.0;
}

ul {
    margin: 0;
}

a.pari-link {
    color: @headingsColor;
}

.navbar-inner .brand,
.navbar-inner li.dropdown a,
.navbar-inner li.dropdown.active a,
.carousel-control,
.carousel-caption h4,
.carousel-caption p a,
#subnav .nav>.active>a {
  color: @headingsColor;
}


#holder {

    #header {
        .messages {
            margin-top: 8px;
        }
    }

    overflow-x: hidden;
    min-height: 100%;
    height: auto;
    margin: 0 auto -@footerHeight;

    .navbar {
        @navBottomBorder: #808080;
        background: @navColor;
        border:0px;
        border-bottom: 2px solid @navBottomBorder;
        min-height: 60px;
        
        .brand {
            position: relative;
            font-size: 31px;
            text-shadow: none;
            @media (min-width: 979px) {
                &.active {
                    .menu-arrow (@navBottomBorder);
                }
            }
        }

        .nav {
            li {
                a {
                    text-shadow: none;
                    @media (min-width: 979px) {
                        &:hover {
                            color: #fff;
                        }
                    }
                }
                &.dropdown.active {
                    a {
                        @media (min-width: 979px) {
                            background-color: @navColor !important;
                            -webkit-box-shadow: 0 0 0 @navColor !important;
                            box-shadow: 0 0 0 @navColor !important;
                            .menu-arrow (@navBottomBorder);
                        }
                    }
                }
            }
        }

        .navbar-inner {
            background: @navColor;
            border:0px;
            box-shadow: none;
            margin:0px auto;

            .container {
                margin-top: 10px;
                color: @headingsColor;
                .user{
                    width: 80px;
                    padding: 3px 20px 2px 20px;
                    border-radius: 0px 0px 25px 25px;
                    margin-top: -5px;

                    background-color: @navColor;
                    a {
                        text-decoration: none;
                        color: @headingsColor;
                    }
                    @media (min-width: 979px) {
                        position: absolute;
                        right: 150px;
                        top: 60px;
                        text-align: center;
                        border-bottom: 2px solid @navBottomBorder;
                    }
                    @media (max-width: 978px) {
                        position: relative;
                        left: 2%;
                    }
                    .dropdown-menu {
                        @media (min-width: 979px) {
                            background-color: @navColor;
                        }
                    }
                    .caret {
                        border-top-color: @headingsColor !important;
                        border-bottom-color: @headingsColor !important;
                    }
                    .login-form {
                        width: 220px;
                        text-align: left;
                        @media (min-width: 979px) {
                            position: absolute;
                            left: -80px;
                            padding-left: 10px;
                            padding-right: 10px;
                            background-color: @navColor !important;
                        }
                        .submit_button {
                            text-align: center;
                        }
                    }
                }
            }
        }

        @media (min-width: 979px) {

            .navbar-search {
                position: relative;
                .search-query {
                    width: 289px;
                    padding-right: 29px !important;
                }
                .icon-search {
                    position: absolute;
                    top: 7px;
                    right: 10px;
                    color: @headingsColor;
                }
            }
        }

    }
    #main_content {
        margin-top: 45px;
    }
}

.paginator {

    text-align: center;
    
    ul {

        display: inline-block;

        li {
            display: inline;

            a {
                float: left;
                color: @headingsColor;
                font-size: 17.5px;
                padding: 11px 19px;
                border: 1px solid #dddddd;
                margin: 4px;
                text-decoration: none;

            }

            &.active {
                a {
                    color: black;
                    border: none;
                    cursor: default;
                }
            }

            &.page-nav {
                a {
                    border: none;
                    font-size: 24px;
                    padding: 11px 0 11px 0;
                    margin: 0 12px 0 12px;

                }
            }

        }
    }    
}

#push {
    height: @footerHeight;
}

#footer {
    height: @footerHeight;
    background-color: @navColor;
    .footer-row {
        text-align: center;
    }
    ul.footer-nav {
        display: inline-block;
        li {
            float: left;
            list-style: none;
            margin: 0 0.3em 0 0;
            padding: 0.2em;
            font-size: 1.1em;
            color: @headingsColor;
            a {
                color: @headingsColor;
            }
        }
    }
}

.horizontal-line {
    .horizontal-separator (100%, transparent, #ccc 50%, transparent);
    margin: 10px 0;
}

.full-horizontal-line {
    .horizontal-separator (100%, #ccc, #ccc, #ccc);
    margin: 8px 0;
}

.video-container, .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    margin-bottom: 10px;
}

.embed-container-tall {
    padding-bottom: 100%;
}

.embed-container,
.video-container {
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.media-thumbnail {
    position: relative;

    img {
        opacity: 0.5;
    }

    a {
        text-decoration: none;
        color: black;

        i {
            font-size: 48px;
            position: absolute;

            &:hover {
                color: @headingsColor;
            }

            left: 50%;
            top: 50%;
            margin-left: -20.5px;
            margin-top: -24.5px;
        }
    }
}

.media-popup {
    @media(min-width: 979px){
        width: 760px;
        margin-left: -380px;
    }

    a {
        color: @headingsColor;
    }
}

.tag {
    background-color: #f5f5f5;
    padding: 4px;
    margin-left: 2px;
    margin-bottom: 2px;
    .border-radius(4px, 4px, 4px, 4px);
    a {
        color: @headingsColor;
    }
}

.type-filters-container {

    .view-all {
        float: left;
        padding-top: 20px;
        list-style-type: none;
        display: inline-block;
        color: #9C9C9C;
    }
}

.type-filters {

    display: inline-block;
    margin: 12px 0;

    width: 238px;
    height: 38px;
    overflow: hidden;
    float: left;
    .transition (1s, @property: width);

    &:before {
        content: 'Filter by:';
        color:  #333;
        line-height: 32px;
    };

    &.expanded {
        width: 100%;
        @media(max-width: 480px){
            height: auto;
        }
    }

    .type-filter {
        font-size: 24.5px;
        color: #9C9C9C;
        margin: 4px;
        list-style-type: none;
        display: inline-block;
        width: 32px;
        height: 32px;
        background-color: @alternateBgColor;
        text-align: center;
        line-height: 32px;

        .transition (.3s);
        .box-shadow (0 0 5px rgba(0,0,0,.3));
        .rounded (2px);
        &.active{
            color: @headingsColor;

            &:hover {
                color: #9C9C9C;
            }
        }

        &:hover {
            color: @headingsColor;
        }
    }
}

.social {
    margin: 8px 0;
    a {
        text-decoration: none;
        color: #FFFFFF;
    }
   
    .badge {
        color: #fff;
        font-size: 150%;
        .box-sizing (border-box);

        &.facebook {
            background-color: #3B5998;
        }

        &.twitter {
            background-color: #3498DB;
        }

        &.google-plus {
            background-color: #d34836;
        }

        &.comments {
            background-color: #3ac23a;
        }
    }
}

.mfp-img {
    box-shadow: none;
}

.list {
    .item {
        .box-sizing(border-box);
        padding: 10px;
        overflow: auto;

        &:nth-child(odd){
            background: @alternateBgColor;
        }

        .item-image {
            @media (min-width: 481px) {
                float: left;
            }

            @media (max-width: 480px) {
                .media-thumbnail, .image-thumbnail {
                    img {
                        max-width: 100%;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }

        }

        .caption {
            @media (min-width: 481px) {
                margin-left: 298px;
            }
            .box-sizing(border-box);

            h4 {
                a {
                    color: @headingsColor;
                }
            }
        }
        
        p {
            color: black;
        }

        span:first-child {
            margin: 10px;
        }

    }
}

.heading {
    h3 {
        .section-header;
    }

    .type-filters {
        margin-top: 10px;
    }
}

.section-header {
    .section-header;
}

.btn-colour {
    .buttonBackground (@headingsColor, lighten(@headingsColor, 10%));
}

.btn-grey {
    .buttonBackground (#444, #222)
}

.recaptchatable {
        line-height: 12px;
}

.carousel {
    a {
        color: @headingsColor;
    }

    &.carousel-thin-controls {
        @media (min-width: 980px){
            .carousel-inner {
                width: 90%;
                margin: 0 auto;
                
            }
            .carousel-indicators {
                right: 6%;
            }
            .carousel-control {
                background-color: rgba(255, 255, 255, 0);
            }
        }
    }

    .carousel-control {
        top: 45%;
        border-radius: 0;
        border: none;
        background-color: rgba(255, 255, 255, 0.74902);
        opacity: 0.9;
        &:hover{
            color: #333;
        }
        &.right {
            right: 0;
            .border-radius(0, 0, 8px, 8px);

        }
        &.left {
            left: 0;
            .border-radius(8px, 8px, 0, 0);
        }
    }
    
    @media (min-width: 979px) {

        .carousel-caption {
            background-color: rgba(255, 255, 255, 0.74902);
        }
        &.carousel-inner-caption {
            .carousel-caption {
                bottom: 5%;
                left: 50%;
                right: 10%;
                min-height: 25%;
                max-height: 25%;
                .rounded (5px);
            }
        }
    }

    @media (min-width: 768px) {

        .carousel-control {
            height: 70px;
            width: 50px;
            font-size: 90px;
            line-height: 46px;
        }
    }

    @media (min-width: 480px) {
        .carousel-caption {
            background-color: rgba(255, 255, 255, 0.74902);
        }
        .carousel-caption h4 small {
            color: #333;
        }
        .carousel-caption p {
            color: #333;
        }
    }

    @media (max-width: 480px) {
        .carousel-caption {
            position: relative;
        }
    }

}

.icon-location:before             { content: "\f018"; }
.icon-article:before              { content: "\f044"; }
.icon-category:before             { content: "\f114"; }
.icon-album:before                { content: "\f02d"; }
.icon-albumimage:before           { content: "\f03e"; }
.icon-author:before               { content: "\f007"; }
.icon-contribution:before         { content: "\f0c0"; }
.icon-resource:before             { content: "\f14c"; }
.icon-factoid:before              { content: "\f06a"; }