@import "elements.less";

@headingsColor: #ee4303;

.full-size-background (@bg: #E8E8E8) {
    &:before, &:after{
        content: "";
        position: absolute;
        background: @bg;
        top: 0;
        bottom: 0;
        width: 9999px;
    }
    &:before {
        right: 100%
    }
    &:after {
        left: 100%;
    }
}

.menu-arrow-after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 10px;
    top: 80%;
    left: 50%;
    margin-left: -10px;
}

.menu-arrow-before(@border) {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent transparent @border transparent;
    border-style: solid;
    border-width: 12px;
    top: 68%;
    left: 50%;
    margin-left: -12px;
}

#holder {
    .navbar{
        @navColor: #333;
        @navBottomBorder: #808080;
        background: @navColor;
        border:0px;
        border-bottom: 2px solid @navBottomBorder;
        min-height: 60px;
        
        .brand {
            text-shadow: none;
            @media (min-width: 979px) {
                &.active {
                    &:after {
                        .menu-arrow-after;
                    }
                    &:before {
                        .menu-arrow-before (@navBottomBorder);
                    }
                }
            }
        }

        .nav {
            li {
                a {
                    text-shadow: none;
                    &:hover {
                        color: #fff;
                    }
                }
                &.dropdown.active {
                    a {
                        @media (min-width: 979px) {
                            background-color: @navColor !important;
                            -webkit-box-shadow: 0 0 0 @navColor !important;
                            box-shadow: 0 0 0 @navColor !important;
                            &:after {
                                .menu-arrow-after;
                            }
                            &:before {
                                .menu-arrow-before (@navBottomBorder);
                            }
                        }
                    }
                }
            }
        }

        .navbar-inner {
            background: @navColor;
            border:0px;
            box-shadow: none;
            width:1170px;
            margin:0px auto;
        }
    }
}
