@import "common.less";

.categories {
    margin-bottom: 32px;

    .category {
        position: relative;

        .caption {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.74902);
            bottom: 0;
            width: 100%;
            padding: 10px;

            h4 {
                color: @headingsColor;
            }
        }
    }
}