@import "common.less";

.heading {

    h3 {
        .section-header;
    }

    .type-filters {
        margin-top: 10px;
    }
}

.articles {
    .article {
        // position: relative;
        .box-sizing(border-box);
        padding: 10px;
        overflow: auto;

        &:nth-child(odd){
            background: #E8E8E8;
        }

        .article-image {
            float: left;
        }

        .caption {
            margin-left: 298px;
            .box-sizing(border-box);

            h4 {
                a {
                    color: @headingsColor;
                }
            }
        }
        
        p {
            color: black;
        }

        span:first-child {
            margin: 10px;

        }
    }
}

#map { height: 180px; }