@import "common.less";


.contactform {
    h3 {
        color: #333;
        margin-bottom: 24px;
    }
    background-color: @contactFormBgColor;
    padding: 5px 5px;
    border-radius: 5px;
    margin: 10px 0;
    position: relative;

    height: 91px;
    overflow: hidden;
    .transition (0.4s, @property: height);

    &.expanded {
        height: 310px;
    }

    textarea {
        height: 60px;
    }

    .form-field {
        & > * {
            width: 90%;
        }

        & > select {
            width: 94%;
        }
    }

    @media (max-width: 767px) {
        height: 110px;
        .input {
            position: relative;
            button[type="submit"] {
                display: inline;
                position: absolute;
                top: 0;
                width: 100%;
            }
            .form-field {
                display: none;
            }
        }

        &.expanded {
            height: 455px;
            .input {
                .span4 

                .span4 > select {
                    width: 98%;
                }

                button[type="submit"] {
                    margin-top: 15px;
                    position: relative;
                }
                .form-field {
                    display: inline;

                    & > * {
                        width: 96%;
                    }

                    & > select {
                        width: 98%;
                    }
                }

            }
        }
    }    
}

.list {
    .contribution {
        .box-sizing(border-box);
        padding: 14px;

        &:nth-child(odd){
            background: @alternateBgColor;
        }

        &>:first-child {
            margin-left: 0;
        }

        .icon {
            @media (max-width: 767px) {
                display: inline;
                left: 10px;
                top: 10px;
            }

            @media (min-width: 768px) and (max-width: 979px) {
                float: left;
                left: 30px
            }

            position: relative;
            text-align: center;
            margin: 4px;

            i {
                font-size: 100px;
                color: @contactFormBgColor;
            }
        }

        .title {
            @media (max-width: 767px) {
                display: inline;
                margin-left: 20px;
            }

            font-size: 20px;
            text-shadow: 0 1px 0 rgba(255,255,255,0.75);
            color:  @headingsColor;
            margin-top: 15px;
            margin-bottom: 25px;
        }

        .description {
            @media (min-width: 768px) and (max-width: 979px) {
                float: left;
                margin-left: 20px
            }

            @media (max-width: 767px) {
                margin-top: 10px;
            }
        }
    }
    margin-bottom: 40px;    
}