@import "common.less";


.contactform {
    #recaptcha_image{
      height: 63px !important;
    }
    h3 {
        color: #333;
        margin-bottom: 24px;
    }
    background-color: @contactFormBgColor;
    padding: 5px 5px;
    border-radius: 5px;
    margin: 10px 0;
    position: relative;

    height: 111px;
    overflow: hidden;
    .transition (0.4s, @property: height);

    &.expanded {
        height: 310px;
    }
    .input{
      input[type="text"],input[type="email"],select,textarea,{
        width: 97%;
        margin-bottom: 10px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #808080;
      }
      #recaptcha_response_field{
        width: 55%;
        height: 31px !important;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        line-height: 1.9;

      }
      .btn-default{
        border-radius: 0px;
        margin: -4px;
      }
    }
    textarea {
        height: 60px !important;
    }

    @media (max-width: 992px) {
        height: 130px;
        .input {
            position: relative;
            button[type="submit"] {
                display: inline;
                position: absolute;
                top: 0;
                width: 100%;
            }
            .form-field {
                display: none;
            }
        }

        &.expanded {
            height: 455px;
            .input {
                .col-sm-6 > select {
                    width: 98%;
                }

                button[type="submit"] {
                    margin-top: 15px;
                    position: relative;
                }
                .form-field {
                    display: inline;

                    & > * {
                        width: 96%;
                    }

                    & > select {
                        width: 98%;
                    }
                }

            }
        }
    }    
}

.list {
    .contribution {
        .box-sizing(border-box);
        padding: 14px;

        &:nth-child(odd){
            background: @alternateBgColor;
        }

        &>:first-child {
            margin-left: 0;
        }

        .icon {
            @media (max-width: 767px) {
                display: inline;
                left: 10px;
                top: 10px;
            }

            @media (min-width: 768px) and (max-width: 979px) {
                float: left;
                left: 30px
            }

            position: relative;
            text-align: center;
            margin: 4px;

            i {
                font-size: 100px;
                color: @contactFormBgColor;
            }
        }

        .title {
            @media (max-width: 767px) {
                display: inline;
                margin-left: 20px;
            }

            font-size: 20px;
            text-shadow: 0 1px 0 rgba(255,255,255,0.75);
            color:  @headingsColor;
            margin-top: 15px;
            margin-bottom: 25px;
        }

        .description {
            @media (min-width: 768px) and (max-width: 979px) {
                float: left;
                margin-left: 20px
            }

            @media (max-width: 767px) {
                margin-top: 10px;
            }
        }
    }
    margin-bottom: 40px;    
}