@import "common.less";

#header {

    @media (min-width: 980px){
        .fixed-header;
    }

    .hero-unit {
        text-align: center;
        background-color: #fff;
        padding: 0;

        h1 {
            font-weight: 200;
            letter-spacing: 0px;
        }

        p {
            margin-top: 12px;
            .section-header
        }
    }
}

#holder {
    #main_content {
        @media (min-width: 980px){
            margin-top: 740px;
        }
    }
}

#homepage {
    .main-section {
        @bg: #E8E8E8;
        position: relative;
        background-color: @bg;
        .full-size-background (@bg);
    }

    .recent-articles{
        @media (min-width: 979px) {
            position: relative;
            .box-sizing(border-box);
            padding-right: 32px;
            &:after {
                .vertical-separator(100%, transparent, #ccc 50%, transparent);
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 100%;
            }
        }

        h4 {
            .section-header;
        }

        .article {
            margin-bottom: 12px;
            a {
                text-decoration: none;
                .caption {
                    h4 {
                        color: @headingsColor;
                        margin: 8px 0 0 0;
                    }

                    p {
                        color: black;
                    }
                }
            }

            @media (max-width: 768px) {
                .box-sizing(border-box);
                margin-bottom: 24px;

                a {
                    img {
                        max-width: 100%;
                        display: block;
                        margin: 0 auto;
                    }

                    text-align: center;
                }

                &:after {
                    content: '';
                    display: block;
                    .horizontal-separator (100%, transparent, #ccc 50%, transparent);
                }
            }

        }
    }

    .categories {
        h4 {
            .section-header;
        }

        .list {
            a {
                text-decoration: none;
                color: black;

                .category {
                    .box-sizing(border-box);
                    background-color: #fff;
                    min-height: 100px;
                    padding: 6px;
                    margin-bottom: 2px;
                    position: relative;

                    h4 {
                        color: @headingsColor;
                    }

                    i {
                        color: @headingsColor;
                        position: absolute;
                        right: 1%;
                        top: 50%;
                        margin-top: -20px;
                        font-size: 40px;
                    }

                    &:hover {
                        .dark-caption;
                    }
                }
            }
        }
    }

    .social-icons {
        position: relative;
        background-color: #fff;
        text-align: center;
        ul {
            @radius: 30px;
            display: inline-block;
            list-style-type: none;
            li {
                display: inline-block;
                width: @radius * 2;
                height: @radius * 2;
                .rounded (@radius);
                .transition (0.3s);

                text-align: center;
                font-size: @radius;
                line-height: @radius * 2;
                background-color: @alternateBgColor;
                margin: 10px;

                a {
                    text-decoration: none;
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: #000;
                }

                &:hover {
                    background-color: darken(@alternateBgColor,20%);
                    a {
                        color: @headingsColor;
                    }
                    .box-shadow (inset 0 0 10px @alternateBgColor);
                }
            }
        }
    }
}

#footer {
    position: relative;
}