@import "common.less";

#header {
    .fixed-header;

    .hero-unit {
        text-align: center;
        background-color: #fff;
        padding: 0;

        h1 {
            font-weight: 200;
            font-family: arial, sans-serif;
            letter-spacing: 0px;
        }

        p {
            .section-header
        }
    }

    .carousel-control {
        border-radius: 0;
        border: none;
        background-color: rgba(255, 255, 255, 0.74902);
        opacity: 0.9;
        &:hover{
            color: #333;
        }
        &.right {
            right: 0;
            .border-radius(0, 0, 8px, 8px);

        }
        &.left {
            left: 0;
            .border-radius(8px, 8px, 0, 0);
        }
    }
}

#homepage {
    .main-section {
        @bg: #E8E8E8;
        position: relative;
        background-color: @bg;
        .full-size-background (@bg);
        margin-top: 609px;
    }

    .recent-articles{
        @media (min-width: 979px) {
            position: relative;
            .box-sizing(border-box);
            padding-right: 32px;
            &:after {
                .vertical-separator(100%, transparent, #ccc 50%, transparent);
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 100%;
            }
        }

        h4 {
            .section-header;
        }

        .article {
            margin-bottom: 12px;
            a {
                text-decoration: none;
                .caption {
                    h4 {
                        color: @headingsColor;
                        margin: 8px 0 0 0;
                    }

                    p {
                        color: black;
                    }
                }
            }

            @media (max-width: 768px) {
                .box-sizing(border-box);
                margin-bottom: 24px;

                a {
                    img {
                        max-width: 100%;
                        display: block;
                        margin: 0 auto;
                    }

                    text-align: center;
                }

                &:after {
                    content: '';
                    display: block;
                    .horizontal-separator (100%, transparent, #ccc 50%, transparent);
                }
            }

        }
    }

    .categories {
        h4 {
            .section-header;
        }

        .list {
            a {
                text-decoration: none;
                color: black;

                .category {
                    .box-sizing(border-box);
                    background-color: #fff;
                    min-height: 100px;
                    padding: 6px;
                    margin-bottom: 2px;
                    position: relative;

                    h4 {
                        color: @headingsColor;
                    }

                    i {
                        color: @headingsColor;
                        position: absolute;
                        right: 1%;
                        top: 50%;
                        margin-top: -20px;
                        font-size: 40px;
                    }

                    &:hover {
                        .dark-caption;
                    }
                }
            }
        }
    }

    
}