@media (min-width: 979px) {
  .carousel-caption {
    background-color: rgba(255, 255, 255, 0.74902);
    bottom: 5%;
    left: 50%;
    right: 10%;
    min-height: 25%;
    max-height: 25%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .carousel-control {
    top: 50%;
  }

}

@media (min-width: 768px) {
  .carousel-control{
    height: 70px;
    width: 50px;
    font-size: 190px;
    line-height: 37px;
  }
}

#main_content {
  margin-top: 45px;
}

@media (min-width: 480px) {
  .carousel-caption {
    background-color: rgba(255, 255, 255, 0.74902);
  }
  .carousel-caption h4 small {
    color: #333;
  }
  .carousel-caption p {
    color: #333;
  }
}

@media (max-width: 480px) {
  .carousel-caption {
    position: relative;
  }
}

.navbar-inner .brand,
.navbar-inner li.dropdown a,
.navbar-inner li.dropdown.active a,
.carousel-control,
.carousel-caption h4,
.carousel-caption p a,
.thumbnail p a,
.thumbnail-caption h4,
.thumbnail h3,
#subnav .nav>.active>a {
  color: #ee4303;
}