html,
body {
  height: 100%;
}

#holder {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;*/
}

.navbar-inner {
  min-height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-repeat: repeat-x;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar .navbar-inner .container-fluid {
    margin-top: 10px;
    margin-bottom: 10px;
}

#main_content {
  padding-top: 80px;
}
#push,
#footer {
  height: 60px;
}

#footer {
  background-color: #f5f5f5;
}

.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

.hero-unit.home-page {
  text-align: center;
  background-color: #fff;
  padding: 0;
}

.hero-unit.home-page p{
  color: #999;
  font-size: 24.5px;
}