@import "common.less";

@factoidColor: #f78b3e;
a {
    text-decoration: none;
    color: #fff;
}

.item {
    height:  180px;
    .bordered(#ccc);
    .rounded(5px);
    .box-sizing(border-box);
    .transition(0.3s);
    padding: 10px;
    float: left;
    margin: 5px 0;
    background-color: @navColor;
    .box-shadow(1px 1px 2px 0 #d0d0d0);
    border: 1px solid #ccc;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;

    &:hover {
        .transform(scale(1.3));
        z-index: 999;
        background-color: darken(@navColor, 20%);
        text-decoration: none;
        color: #fff;
    }

    &-factoid {
        background-color: @factoidColor;
        a {
            color: #333;
        }

        &:hover {
            background-color: darken(@factoidColor, 20%);
        }
    }

    &-hero {
        width:  490px;
        &:hover {
            .transform(scale(1.0));
            z-index: 999;
            background-color: #fff;
            color: #333;
        }
        background-color: #fff;
        a {
            text-decoration: none;
            color: #333;
        }
    }
}

.item1 {
    min-width:  120px;
    max-width: 240px;
    width: 120px;
}
.item2 {
    min-width:  120px;
    max-width: 240px;
    width:  240px;
}
