{% extends "base.html" %}
{% load i18n verbatim_tag article_filters article_tags faces_filters %}

{% block meta_title %}{% trans "Faces" %}{% endblock %}
{% block title %}{% trans "Faces" %}{% endblock %}

{% block extra_js %}
    <script type='text/javascript' src="{{ STATIC_URL }}js/magnific-popup.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}faces/js/lightbox.js"></script>
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/categories.less" charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/magnific-popup.css" charset="utf-8">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/faces.less" charset="utf-8">
{% endblock %}


{% block breadcrumb_menu %}
    <li class="active">{% trans "Faces" %}</li>
{% endblock %}

{% block main %}
    <div class="popup-gallery">
    {% for face_image_group in face_images|apply_pinning|group_by:3 %}
        <div class="row">
            <div class="categories">
                {% for face_image in face_image_group %}
                    <a href="{{ MEDIA_URL }}{% thumbnail_no_fit face_image|get_file_path 1152 864 %}" data-title="{{ face_image|get_title }}" data-district="{{ face_image.face.district }} District" data-description="{{ face_image|get_description }}"  class="image-tag mfp-image">
                        <div class="col-lg-4 col-md-4">
                             <div class="grid-column">
                                <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail face_image|get_file_path 370 470 %}" width="370" height="470" alt="">
                                <div class="caption down-caption dark-caption text-padding">
                                    <div class="image-footer">{{face_image|get_title }}, {{ face_image.face.district }}</div>
                                        <span class="pull-right text-red">know more
                                        <i class="fa fa-arrow-circle-right arrow-font"></i>
                                        </span>
                                </div>
                             </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}