{% extends "base.html" %}
{% load i18n verbatim_tag article_filters article_tags faces_filters %}

{% block meta_title %}{% trans "Faces" %}{% endblock %}
{% block title %}{% trans "Faces" %}{% endblock %}

{% block extra_js %}

{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/categories.less" charset="utf-8">
{% endblock %}


{% block breadcrumb_menu %}
    <li class="active">{% trans "Faces" %}</li>
{% endblock %}

{% block main %}
    {% regroup faces by first_letter_of_district as grouped_faces_lists %}
    {% for grouped_faces_list in grouped_faces_lists|group_by:3 %}
    <div class="categories row">
        {% for grouped_faces in grouped_faces_list %}
            <a href="{{ grouped_faces.grouper | lower }}">
                <div class="span4 grid-column">
                    <img src="{{ MEDIA_URL }}{% thumbnail grouped_faces|get_group_image|get_file_path  370 300 %}" width="370" height="300" alt="">
                    <div class="label">
                       <p>
                        {{ grouped_faces.grouper | upper }}
                       </p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    {% endfor %}

{% endblock %}