{% extends "base.html" %}
{% load i18n verbatim_tag article_filters article_tags faces_filters %}

{% block meta_title %}{% trans "Faces" %}{% endblock %}
{% block title %}{% trans "Faces" %}{% endblock %}

{% block extra_js %}
    <script type='text/javascript' src="{{ STATIC_URL }}js/magnific-popup.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}faces/js/lightbox.js"></script>
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/categories.less" charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/magnific-popup.css" charset="utf-8">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/faces.less" charset="utf-8">
{% endblock %}


{% block breadcrumb_menu %}
    <li class="active">{% trans "Faces" %}</li>
{% endblock %}

{% block main %}
    <div class="popup-gallery">
    {% for face_group in faces|group_by:3 %}
    <div class="categories row">
        {% for face in face_group %}
            <a href="{{ MEDIA_URL }}{% thumbnail_no_fit face|get_face_of_the_week|get_file_path 1152 864 %}" data-title="{{ face.title }}" data-district="{{ face.district }}" data-description="{{ face|get_face_of_the_week|get_description }}"  class="image-tag mfp-image">
                <div class="span4 grid-column">
                    <img src="{{ MEDIA_URL }}{% thumbnail face|get_face_of_the_week|get_file_path 370 300 %}" width="370" height="300" alt="">
                    <div class="caption down-caption dark-caption">
                        <p>{{ face.title }}, {{ face.district }} District</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    {% endfor %}
    </div>

{% endblock %}