{% extends "base.html" %}
{% load i18n verbatim_tag article_filters article_tags faces_filters %}

{% block meta_title %}{% trans "Faces" %}{% endblock %}
{% block title %}{% trans "Faces" %}{% endblock %}

{% block extra_js %}

{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/categories.less" charset="utf-8">
{% endblock %}


{% block breadcrumb_menu %}
    <li class="active">{% trans "Faces" %}</li>
{% endblock %}

{% block main %}
    {% regroup faces by first_letter_of_district|upper as grouped_faces_lists %}
    {% for grouped_faces_list in grouped_faces_lists|group_by:3 %}
    <div class="row">
        <div class="categories">
            {% for grouped_faces in grouped_faces_list %}
                <div class="col-lg-4 col-md-4">
                    <a href="{{ grouped_faces.grouper | lower }}">
                        <div class="grid-column">
                            <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail grouped_faces|get_group_image|get_file_path  370 470 %}" width="370" height="470" alt="">
                            <div class="label">
                               <p>
                                {{ grouped_faces.grouper | upper }}
                               </p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{% endblock %}