{% extends "base.html" %}
{% load i18n mezzanine_tags article_filters article_tags %}

{% block meta_title %}{{ settings.SITE_FULL_TITLE }}{% endblock %}
{% block meta_description %}{{ settings.SITE_TAGLINE }}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block extra_css %}
  <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/datepicker.less" charset="utf-8">
  <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/homepage.less" charset="utf-8">
  <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/categories.less" charset="utf-8">
{% endblock %}



{% block extra_js %}
    <script type='text/javascript' src="{{ STATIC_URL }}js/datepicker.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/matchmedia.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/picturefill.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/pari.js"></script>
{% endblock %}
{% block extra_header %}
  <div class="jumbotron home-page">
    <h1>{{ settings.SITE_FULL_TITLE }}</h1>
    <p>{{ settings.SITE_TAGLINE }}</p>
  </div>
  {% if article_list %}
    <div id="homeCarousel" class="carousel carousel-thin-controls slide container">

      <div class="carousel-inner">
        {% for article in article_list %}
          <div class="{% if forloop.first %}active{% endif %} item">
            <span data-picture data-alt="">
              <span data-src="{{ MEDIA_URL }}{% thumbnail article.featured_image 725 400 %}"></span>
              <span data-src="{{ MEDIA_URL }}{% thumbnail article.featured_image 846 520 %}" data-media="(min-width: 992px)"></span>
              <span data-src="{{ MEDIA_URL }}{% thumbnail article.featured_image 1053 520 %}" data-media="(min-width: 1200px)"></span>
              <noscript>
                <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail article.featured_image 1052 520 %}" alt="">
              </noscript>
            </span>
          </div>
            {% endfor%}
           <ol class="carousel-indicators">
        {% for count in article_list|length|get_range %}
          <li data-target="#homeCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
    </ol>

      </div>
   {% endif %}
 </div>
{% endblock %}
{% block main %}
<div class="container">
            <div class="row">
              {%for factoid in factoids%}
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="grid-column">
                      <p>
                         {{ factoid.description }}
                      </p>
                  </div>
                  <a href="{{factoid.get_absolute_url}}" class="factoid-expand">
                      more >
                  </a>
              </div>
            {% endfor %}
           </div>
<br>
<hr>
<div id="homepage">
    <section id="mainsection">
    <div class="main-section">

<div class="container">

    <div class="category-heading">
                CATEGORIES
    </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                    {% for category_group in categories|group_by:3 %}
    <div class="row">
        <div class="categories">
            {% for category in category_group %}
                <a href="{{ category|get_absolute_url}}">
                <div class="col-lg-4 col-md-4">
                    <div class="grid-column">
                        <img src="{{ MEDIA_URL }}{% thumbnail category.image 370 300 %}" width="370" height="300" alt="">
                        <div class="caption">
                            <h4>{{ category.title }}</h4>
                            <p class="description">{{ category.description }}</p>
                        </div>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>
     </div>
    {% endfor %}
     </div>
     </div>
                <a href="#" class="btn btn-lg btn-warning btn-homepage"><span class="glyphicon glyphicon-th-list"></span> VIEW ALL CATEGORIES</a>
    </div>
   </div>

  </section>
  <div class="social-icons">
    <ul>
      <li><a href="{{"SOCIAL_FACEBOOK"|get_setting}}"><i class="fa fa-facebook"></i></a></li>
      <li><a href="{{"SOCIAL_TWITTER"|get_setting}}"><i class="fa fa-twitter"></i></a></li>
      <li><a href="{{"SOCIAL_GOOGLE_PLUS"|get_setting}}"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="{{"SOCIAL_GITHUB_REPO"|get_setting}}"><i class="fa fa-github"></i></a></li>
    </ul>
  </div>
 </div>
{% endblock %}