{% extends "base.html" %}
{% load i18n mezzanine_tags article_filters article_tags %}

{% block meta_title %}{% trans "People's Archive of Rural India" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block extra_css %}
  <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/homepage.less" charset="utf-8">
{% endblock %}

{% block extra_js %}
    <script type='text/javascript' src="{{ STATIC_URL }}js/pari.js"></script>
{% endblock %}

{% block extra_header %}
  <div class="hero-unit home-page">
    <h1>People&#8217;s Archive of Rural India </h1>
    <p>An archive and living journal of oral and visual history of Rural India</p>
  </div>

  {% if article_list %}
    <div id="homeCarousel" class="carousel slide container">
      <ol class="carousel-indicators">
        {% for count in article_list|length|get_range %}
          <li data-target="#homeCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
      </ol>

      <div class="carousel-inner">
        {% for article in article_list %}
          <div class="{% if forloop.first %}active{% endif %} item">
            <img src="{{ MEDIA_URL }}{% thumbnail article.featured_image 1170 400 %}" alt="">
            <a href="{{ article.get_absolute_url }}">
              <div class="carousel-caption">
                <h4>{{ article.title}}</h4>
                <p>{{ article|get_location_titles }}</p>
                <p>{{ article.description }}</p>
              </div>
            </a>
          </div>
        {% endfor%}
      </div>
      <a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
    </div>
  {% endif %}
{% endblock %}

{% block main %}
<div id="homepage">
  {% if recent_articles %}
  <section id="mainsection">
    <div class="main-section">
      <div class="container">
        <div class="row">
          <div class="recent-articles span8">
            <h4><i class="icon-time"></i> Recent articles</h4>

            {% for article_chunk in recent_articles|group_by:2 %}
              <div class="row-fluid">
                {% for article in article_chunk %}
                  <div class="article span6{% if forloop.parentloop.last and forloop.last %} last{% endif %}">
                    <a href="{{ article|get_absolute_url}}">
                      <img src="{{ MEDIA_URL }}{% thumbnail article.featured_image 360 320 %}" alt="">
                      <div class="caption">
                          <h4>{{ article.title }}</h4>
                          <p>{{ article|get_location_titles }}</p>
                          <p>{{ article.description }}</p>
                      </div>
                    </a>
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
          <div class="categories span4">
            <h4><i class="icon-reorder"></i> Categories</h4>
            <div class="list">
              {% for category in categories %}
                <a href="{{category|get_absolute_url}}">
                  <div class="category">
                    <h4>{{ category.title }}</h4>
                    <p>{{ category.description }}</p>
                    <i class="icon-angle-right"></i>
                  </div>
                </a>
              {% endfor %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

</div>
{% endblock %}