{% extends "sidebar_base.html" %}
{% load i18n verbatim_tag mezzanine_tags article_tags article_filters album_filters comment_tags %}

{% block meta_title %}{% trans image.album.title %} - {{ image|get_order }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {{ image.album.title }}
{% endmetablock %}{% endblock %}

{% block meta_description %}
    {{ image.description }}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/album_image.less" charset="utf-8">
{% endblock %}

{% block maincontent %}
    <img src="{{MEDIA_URL}}{% thumbnail_no_fit image|get_file_path 1152 864 %}">
{% endblock %}

{% block sidebar %}
    <div class="well">
        <h3>{{ image.album.title }}</h3>
        <p>{{ image|get_order }} of {{image.album.images.count }}</p>
        {{ image.description }}
        {% with image|get_request_url:request as url %}
            {% render_share_widgets image.album.title url %}
        {% endwith %}
        <a class="pari-link" href="{{ image.album.get_absolute_url }}">View Album <i class="fa fa-angle-double-right"></i></a>
    </div>
{% endblock %}

{% block maincontent_2 %}
    {% comments_for image %}
{% endblock %}