{% extends "base.html" %}
{% load i18n album_filters article_tags article_filters %}

{% block meta_title %}{% trans "Albums" %}{% endblock %}
{% block title %}{% trans "Albums" %}{% endblock %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/album_list.less" charset="utf-8">
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Albums" %}</li>
{% endblock %}

{% block main %}
    <div class="album-grid">
    {% for album_group in albums|group_by:3 %}
        <div class="row">
            {% for album in album_group %}
                <div class="album span4">
                    <div class="stack"><img src="{{ MEDIA_URL }}{% thumbnail album.get_thumbnail 300 250 %}"></div>
                    <div class="caption">
                        <p>{{ album.description }}</p>
                        <h3><a href="{{ album.get_absolute_url }}">{{ album.title }}</a></h3>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endblock %}
